header.nav-header
    nav.card
        ul(class="nav-header__list")
            li(class="nav-header__item")
                a(
                    class="nav-header__link"
                    href="#about"
                    ) About
            li(class="nav-header__item")
                a(
                    class="nav-header__link"
                    href="#experience"
                    ) Experience
            li(class="nav-header__item")
                a(
                    class="nav-header__link"
                    href="#skills"
                    ) Skills
            li(class="nav-header__item")
                a(
                    class="nav-header__link"
                    href="#contacts"
                    ) Contacts
            li(class="nav-header__item")
                a(
                    class="nav-header__link"
                    href="#education"
                    ) Education
            li(class="nav-header__item")
                a(
                    class="nav-header__link"
                    href="#languages"
                    ) Languages